<%= content_tag_for :article, discussion, class: 'media' do %>
  <div class="media-left media-middle">
    <%= link_to '###' do %>
      <%= image_tag 'http://placehold.it/50x50', size: '50x50', class: 'media-object' %>
    <% end %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to discussion.title, discussion %></h4>
    
    <div class="media-meta">
      <div class="pull-right">
        <span class="counter">
          <%= fa_icon('eye', text: 0) %>
        </span>

        <span class="counter">
          <%= fa_icon('comment', text: discussion.comments.count) %>
        </span>
      </div>

      <%= link_to discussion.category.name, category_path(discussion.category.slug), class: 'label label-sm label-default' %>

      <%= link_to discussion do %>
        <%= discussion.user %> 发起于 <%= timeago_tag discussion.created_at %>
      <% end %>

      <% if discussion.last_comment_user %>
        <%= link_to discussion do %>
          <%= discussion.last_comment_user %> 回复于 <%= timeago_tag discussion.last_comment_at %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>