<%= content_tag_for :article, discussion, class: 'media' do %>
  <div class="media-left media-middle">
    <%= link_to '###' do %>
      <%= image_tag 'http://placehold.it/50x50', size: '50x50', class: 'media-object' %>
    <% end %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to discussion.title, discussion %></h4>

    由 <%= discussion.user %> 发表于 <%= discussion.created_at %>
  </div>
<% end %>