<li class="discussion">
  <h3><%= link_to discussion.title, discussion %></h3>

  由 <%= discussion.user %> 发表于 <%= discussion.created_at %>
  
  <%= link_to '编辑', [:edit, discussion] %></td>
  <%= link_to '删除', discussion, method: :delete, data: { confirm: '确定要删除帖子？' } %></td>
</li>