<%= form_for(@discussion, html: { class: 'form-disscussion' }) do |f| %>
  <%= f.hidden_field :parser %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <%= @discussion.new_record? ? '发起新话题' : '编辑话题' %>
      </div>
    </div>

    <div class="panel-body">
      <div class="form-group">
        <div class="wrapper-category">
          <%= f.select :category_id, Category.all.collect { |p| [ p.name, p.id ] }, { include_blank: false }, { class: 'form-control' } %>
        </div>
        <div class="wrapper-title">
          <%= f.text_field :title, placeholder: '标题', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.text_area :content, class: 'simditor' %>
      </div>
    </div>

    <div class="panel-footer">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to '返回', :back, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
