<p id="notice"><%= notice %></p>

<article class="disscussion">
  <header>
    <h2><%= @discussion.title %></h2>
    <div class="meta">
      由 <%= @discussion.user %> 在 <%= @discussion.category %>

      <%= link_to 'Edit', edit_discussion_path(@discussion) %> |
      <%= link_to 'Back', discussions_path %>
    </div>
  </header>

  <div class="content">
    <%= simple_format @discussion.content %>
  </div>
</article>

<section id="comments">
  <h3>评论</h3>

  <ul class="comments">
    <%= render @comments %>
  </ul>

  <%= render partial: 'comments/form' %>
</section>