<header id="header" class="container-fluid">
  <div id="header-content" class="row">
    <div class="col-5">
      <h1>
        <%= link_to root_url, class: 'iconWrapper' do %>
          <%= image_tag 'pixel.gif', class: 'icon-logo', alt: '一早一晚' %>
          一早一晚
        <% end %>
      </h1>
    </div>

    <nav class="col-4">
      <% site_categories.each do |category| %>
        <a><%= link_to category.name, category_path(category.slug) %></a>
      <% end %>
    </nav>

    <div class="col-6 col-offset-9">
      <ul class="row">
        <li class="col-4 col-offset-4">
          <%= link_to 'javascript:;', title: '搜索' do %>
            <span class="icon-search"></span> <i>搜索</i>
          <% end %>
        </li>

        <li class="col-4">
          <%= link_to 'javascript:;', title: '通知' do %>
            <span class="icon-alert"></span> <i>通知</i>
          <% end %>
        </li>

        <li class="col-4">
          <%= link_to 'javascript:;', title: '收藏' do %>
            <span class="icon-favorite"></span> <i>收藏</i>
          <% end %>
        </li>

        <li class="col-4">
          <%= link_to 'javascript:;', title: '设置' do %>
            <span class="icon-setting"></span> <i>设置</i>
          <% end %>
        </li>

        <li class="col-4">
          <a class="iconWrapper" href="">
            <%= image_tag 'ava.jpg' %> <i></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>