<div id="fullscreen_bg" class="fullscreen_bg">
  <div class="container">
    <%= simple_form_for @user_session, url: signin_path, html: { class: 'form-signin' } do |f| %>
      <h1 class="form-signin-heading text-muted">
        登录
      </h1>

      <%= render 'messages' %>

      <%= f.text_field :email, required: false, autofocus: true, class: 'form-control', placeholder: '登录邮箱' %>
      <%= f.password_field :password, required: false, class: 'form-control', placeholder: '密码' %>

      <div class="form-group">
        <div class="checkbox-inline">
          <label>
            <%= f.check_box :remember_me %>
            记住密码
          </label>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "登录", class: 'btn btn-lg btn-primary btn-block' %>
      </div>
    <% end %>
  </div>
</div>
