<%= simple_form_for @user_session, url: signin_path do |f| %>
  <%= panel title: '登录' do %>
    <div class="panel-body">
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :remember_me, as: :boolean %>
    </div>

    <div class="panel-footer">
      <%= f.submit '登录', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>